        <div class="flex mr-0 items-center avatar mx-auto justify-center mt-20 mb-10">
            <img src="src/assets/avatar.jpg" class="w-24 h-24 rounded-full shadow-lg hover:scale-105 transition-transform duration-300" alt="my picture">
            <!-- <img src="avatar.jpg" class="mr-0 shadow-lg rounded-full mt-10 w-24"> -->
            <div class="justify-center ml-5 mt-1">
                <div class="flex justify-center"><p class="font-bold text-3xl">鄭文廷</p><p class="text-sm self-end">(粽子)</p><br></div>
                <p class="text-sm mt-3 typing">複製文轉貼機器/音遊玩家/文藻攝影社副社長</p>
            </div>
        </div>