---
const { content = "" } = Astro.props;

---

<!DOCTYPE html>
<html>
    <head>
        <title>某粽的小破站 </title>
        <!-- <link rel="stylesheet" href="selfintro.css"> -->
        <!-- <link rel="stylesheet" href="./css/tailwind.css"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="description" content="這只是我的個人介紹的網站，我其實不知道還能怎麼打介紹w">
	    <meta charset="utf-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    </head>
   <body class={`duration-300 bg-gradient-to-b from-blue-100 via-white to-blue-50 min-h-screen bg-fixed ${content}`}>

        <div class=" shadow-lg">
            <p class="head font-bold">某粽的小破站</p>
            <!-- <div class="flex justify-center "><a href="/" class="mr-10">HOME</a><a href="test">TEST</a></div> -->
        </div>
